.css-fii3ml-MuiAutocomplete-root .MuiOutlinedInput-root .MuiAutocomplete-endAdornmen {
    margin-top: -8px !important;
}

.css-fii3ml-MuiAutocomplete-root .MuiOutlinedInput-root .MuiAutocomplete-endAdornment{
    top: -4px ;
}

.skill{
    padding: 3px;
    border: 1px solid gray;
}
