.bottom{
  column-gap: 12px;
  height: 100%;
}


@media screen and (max-width: 600px) {
  .bottom{
    flex-direction: column;
    row-gap: 12px;
  }
}

.Right{
  flex-grow: 5;
  display: flex;
  justify-content: center;
}
.edit{
  height:60vh;
  overflow-y: auto;
}